<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Julio, I have been married for 5 years. I have two beautiful daughters, Hailey and Myla. 
          My desire to graduate as a Computer Science major come from my family and and their amazing support. I want to focus my 
          career in cyber security and eventually work for the airforce base in my state. I enjoy spending time with my family, 
          hiking, gym, snowboarding and movie nights. One of my favorite hikes is Lake Blanche in SLC. 
          <a href="https://www.w3schools.com/">Visit W3Schools.com!</a></p>
      </div>
      <div class="col-lg-4">
        <style>
          table, th, td {
            border:1px solid black;
          }
          </style>
          <body>
          
          <h4>My Bucket List</h4>
          
          <table>
            <tr>
              <td>Go on a cruise</td>
              <td>Travel outside the US</td>
              <td>Graduate College</td>
            </tr>
            <tr>
              <td>Learn to swim</td>
              <td>Become a citizen of US</td>
              <td>Attend a Warriors game</td>
            </tr>
            <tr>
              <td>Visit New Orleans for Saints game</td>
              <td>Take a tour of Italy</td>
              <td>Meet a celebrity</td>
            </tr>
          </table>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
